#wcp-admin-settings-app {
  background-color: #ffffff;
  margin: 15px;
  padding: 15px;
  border: 1px solid #c3c4c7;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);

  .wcp-dashboard-header {
    border-bottom: 1px solid black;
  }

  .wcp-dashboard-content {

  }

  .wcp-rule-archive-wrapper {
    border: 1px solid black;
    width: 320px;
  }
}