.wcp-admin-panel-wrapper form fieldset {
  border: 1px solid #beb8b8;
  padding: 16px;
  margin: 16px 0;
}
.wcp-admin-panel-wrapper form fieldset legend {
  margin: 0 24px;
  padding: 0 16px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #737171;
}
.wcp-admin-panel-wrapper form input[type=text] {
  border: 1px solid #8c8f94;
  border-radius: 5px;
  width: 300px;
  color: #464242;
}
.wcp-admin-panel-wrapper form button[type=submit] {
  border: 0;
  color: white;
  background-color: #13c413;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}
.wcp-admin-panel-wrapper form label {
  font-weight: 700;
}

.wcp-admin-panel-wrapper .header .wcp-admin-main-menu-wrapper ul {
  text-decoration: none;
}
.wcp-admin-panel-wrapper .header .wcp-admin-main-menu-wrapper ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.wcp-admin-panel-wrapper .header .wcp-admin-main-menu-wrapper ul li a {
  text-decoration: none;
  padding: 8px;
  margin: 0;
  font-weight: 800;
}
.wcp-admin-panel-wrapper .header h3 {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: #504242;
}
.wcp-admin-panel-wrapper .main {
  padding: 24px 0;
}
.wcp-admin-panel-wrapper .main h4 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 24px;
}
.wcp-admin-panel-wrapper .main form #wc_call_for_price__images {
  display: flex;
  flex-flow: wrap;
}
.wcp-admin-panel-wrapper .main form #wc_call_for_price__images .radio {
  margin: 8px 16px;
}
.wcp-admin-panel-wrapper .main form #wc_call_for_price__images .radio input[type=radio] {
  position: relative;
  top: -10px;
}
.wcp-admin-panel-wrapper .main form #wc_call_for_price__images .radio img {
  width: 100px;
  height: 28px;
}
.wcp-admin-panel-wrapper .footer {
  text-align: center;
  color: #737171;
}
.wcp-admin-panel-wrapper .help-block {
  color: #737171;
}
.wcp-admin-panel-wrapper .help-block::before {
  content: "\f14c"; /** dashicons-info-outline **/
  font-family: "dashicons";
  color: #9494e3;
}

.wcp-admin-panel-wrapper {
  margin: 16px;
  background-color: #fff;
  border-radius: 8px;
  max-width: 800px;
  display: flex;
  flex-direction: row;
}
.wcp-admin-panel-wrapper .sidebar {
  width: 200px;
  border-radius: 8px 0 0 8px;
  background-color: #f6f9f9;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.wcp-admin-panel-wrapper .sidebar .logo-wrapper {
  padding: 16px 0;
  display: flex;
  justify-content: center;
}
.wcp-admin-panel-wrapper .sidebar .link-wrapper {
  padding: 0 0 16px 32px;
}
.wcp-admin-panel-wrapper .sidebar .link-wrapper a {
  text-decoration: none;
}
.wcp-admin-panel-wrapper .main {
  padding: 16px;
  width: 600px;
}
.wcp-admin-panel-wrapper .main .header .wcp-admin-main-menu-wrapper ul li {
  margin: 4px;
  padding: 8px;
  border-radius: 8px;
  background-color: #f6f9f9;
  transition-duration: 0.2s;
}
.wcp-admin-panel-wrapper .main .header .wcp-admin-main-menu-wrapper ul li:hover {
  transition-duration: 0.2s;
  background-color: #e7f2f2;
}
.wcp-admin-panel-wrapper .main .header .wcp-admin-main-menu-wrapper ul li:first-child {
  margin-left: 0;
}
.wcp-admin-panel-wrapper .main .header .wcp-admin-main-menu-wrapper ul li a {
  color: #f25500;
}
.wcp-admin-panel-wrapper .main .header .wcp-admin-main-menu-wrapper ul li a:focus {
  box-shadow: unset;
  color: #f25500;
}
.wcp-admin-panel-wrapper .main .header .wcp-admin-main-menu-wrapper ul li.active {
  background-color: #f25500;
}
.wcp-admin-panel-wrapper .main .header .wcp-admin-main-menu-wrapper ul li.active a {
  color: #ffffff;
}
.wcp-admin-panel-wrapper .main form fieldset {
  border: 0.5px solid #e5eaea;
  border-radius: 4px;
}
.wcp-admin-panel-wrapper .main form fieldset legend {
  margin: 0 16px;
  padding: 8px 16px;
  border-right: 4px;
  background-color: #f6f9f9;
}
.wcp-admin-panel-wrapper .main form fieldset .wcp-uploaded-image-preview_wrapper img {
  max-width: 300px;
}